@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.languages {
  text-align: center;
  .language {
    margin-bottom: 20px;
  }
}

.search-button {
  text-align: center;
}

#companies {
  text-align: center;
  margin-top: 20px;
  .row {
    margin-bottom: 20px;
  }
}
