<h2>O Desafio</h2>

<p>Gostariamos que fosse implementado um protótipo semelhante ao <a href="https://startupstack.io" target="_blank">StartupStack</a>.</p>
<p>A aplicação deve usar a nossa API (<a href="https://github.com/LandingJobs/LandingJobs-api" target="_blank">https://github.com/LandingJobs/LandingJobs-api</a>) para obter os dados necessários (empresas e skills), mas deve guardar os dados na sua própria BD para não estar sempre a pedir os mesmos dados à API.</p>
<p>A applicação deve ler dados da API no máximo uma vez por hora. (Por uma questão de simplicidade, gera um API token para o teu utilizador aqui: <a href="https://landing.jobs/settings" target="_blank">https://landing.jobs/settings</a> e usa esse token para o acesso da API)</p>
<p>A nível de front-end, deve ter o mesmo tipo de funcionalidade do <a href="https://startupstack.io" target="_blank">https://startupstack.io</a>: Escolher uma ou mais skills para obter uma lista de empresas que procuram candidatos nessas tecnologias, com o nome e logo da empresa, e o link para o respectivo site.</p>
<p>Não precisam de fazer um design muito polido, mas queriamos ver algum trabalho de frontend. Funcional, nada demasiado complexo. Por exemplo, um layout semelhante ao do <a href="https://startupstack.io" target="_blank">https://startupstack.io</a></p>